<div>
  <mat-toolbar color="primary" class="mat-toolbar">
    <mat-toolbar-row>
      <img src="assets/img/sabadell.jpg" class="img-logo" />
      <span> Consulta Electrónica de Pagos</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-card-title>
      Formulario de búsqueda
    </mat-card-title>
    <mat-card-subtitle>
      *Por favor llena todos los campos.
    </mat-card-subtitle>
    <mat-card-content align="center">
      <form>
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Fecha</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Seleccione la fecha en la que se realizó el pago"
                (dateChange)="onDateChange($event)"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Criterio</mat-label>
              <select
                matNativeControl
                name="tipoCriterio"
                id="tipoCriterio"
                [(ngModel)]="requestValidation.tipoCriterio"
              >
                <option value="R" selected>Número de transferencia</option>
                <option value="T">Clave de rastreo</option>
              </select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>{{
                requestValidation.tipoCriterio === "R"
                  ? "Número de transferencia"
                  : "Clave de rastreo"
              }}</mat-label>
              <input
                matInput
                placeholder="{{
                  requestValidation.tipoCriterio === 'R'
                    ? 'Número de transferencia'
                    : 'Clave de rastreo'
                }}"
                name="fname"
                required
                [(ngModel)]="requestValidation.criterio"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Emisor</mat-label>
              <select
                matNativeControl
                name="emisor"
                id="emisor"
                [(ngModel)]="requestValidation.emisor"
              >
                <option
                  *ngFor="let item of getInstitutions()"
                  [value]="item.key"
                >
                  {{ item.key + " - " + item.value }}
                </option>
              </select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Receptor</mat-label>
              <select
                matNativeControl
                name="receptor"
                id="receptor"
                [(ngModel)]="requestValidation.receptor"
              >
                <option
                  *ngFor="let item of getInstitutionsMISPEI()"
                  [value]="item.key"
                >
                  {{ item.key + " - " + item.value }}
                </option>
              </select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Beneficiaria</mat-label>
              <input
                matInput
                placeholder="Cuenta Beneficiaria"
                name="beneficiaria"
                required
                [(ngModel)]="requestValidation.cuenta"
              />
              <mat-hint>CLABE, tarjeta de débito o número de celular</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="legacy" class="full-width">
              <mat-label>Monto</mat-label>
              <input
                matInput
                placeholder="Monto del pago"
                name="monto"
                required
                [(ngModel)]="requestValidation.monto"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="gray" type="reset" (click)="clear()">
        Limpiar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="search()"
        class="white-text"
      >
        Enviar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="search2()"
        class="white-text"
      >
        Enviar(Table)
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="beneficiario && ordenante">
    <mat-card-content>
      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-header-cell"></div>
          <div class="mat-header-cell">
            <strong>
              Ordenante
            </strong>
          </div>
          <div class="mat-header-cell">Beneficiario</div>
          <div class="mat-header-cell">Coincidencia</div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Nombre</div>
          <div class="mat-cell">
            {{ ordenante && ordenante.Nombre ? ordenante.Nombre : "" }}
          </div>
          <div class="mat-cell">
            {{ beneficiario && beneficiario.Nombre ? beneficiario.Nombre : "" }}
          </div>
          <div class="mat-cell"></div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">RFC</div>
          <div class="mat-cell">
            {{ ordenante && ordenante.RFC ? ordenante.RFC : "" }}
          </div>
          <div class="mat-cell">
            {{ beneficiario && beneficiario.RFC ? beneficiario.RFC : "" }}
          </div>
          <div class="mat-cell"></div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Banco(E/R)</div>
          <div class="mat-cell">
            {{
              ordenante && ordenante.BancoEmisor ? ordenante.BancoEmisor : ""
            }}
          </div>
          <div class="mat-cell">
            {{
              beneficiario && beneficiario.BancoReceptor
                ? beneficiario.BancoReceptor
                : ""
            }}
          </div>
          <div class="mat-cell"></div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Tipo de Cuenta</div>
          <div class="mat-cell">
            {{ ordenante && ordenante.TipoCuenta ? ordenante.TipoCuenta : "" }}
          </div>
          <div class="mat-cell">
            {{
              beneficiario && beneficiario.TipoCuenta
                ? beneficiario.TipoCuenta
                : ""
            }}
          </div>
          <div class="mat-cell"></div>
        </div>
        <div class="mat-row">
          <div class="mat-cell">Cuenta</div>
          <div class="mat-cell">
            {{ ordenante && ordenante.Cuenta ? ordenante.Cuenta : "" }}
          </div>
          <div class="mat-cell">
            {{ beneficiario && beneficiario.Cuenta ? beneficiario.Cuenta : "" }}
          </div>
          <div class="mat-cell"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
