.full-width {
  width: 90%;
  padding: 0.1rem;
}

.img-logo {
  height: 50px;
  /* margin-top: 1rem; */
  margin-right: 0.5rem;
}

.white-text {
  color: white;
}

.mat-toolbar {
  color: #2a85ff;
  background-color: white;
  /* border-color: #2a85ff;
  border-width: 1rem; */
  border: solid;
}

span {
  color: black;
}

/* TABLE */

.mat-table {
  display: block;
  font-family: Tahoma, Verdana;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  min-height: 48px;
  padding: 0 24px;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  /* font-weight: bold; */
}

