.mat-dialog-container {
  background-color: #000;
  width: 800px !important;
  height: 250px;
}

.success {
  background-color: green;
  color: white;
}

.severe {
  background-color: #e68500;
  color: white;
}

.white-text {
  color: white;
}
